<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6106c18a-8f92-4ef8-83dd-920ff05f26a5/resourceGroups/MarioVilelaGroup/providers/Microsoft.Web/sites/mariostarwarsapi</ResourceId>
    <ResourceGroup>MarioVilelaGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://mariostarwarsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>mariostarwarsapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mariostarwarsapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mariostarwarsapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>